// Use the gear_dropdown.png screenshot as a style guide
.gear-dropdown{
  position: absolute;
  background: white;
  padding: 10px;
  border: 1px solid lightgray;
  z-index: 1;
  top: 41px;
  right: 200px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.gear-dropdown li{
  // z-index: 1;
  // float: right;
  position: relative;
  text-transform: uppercase;
  font-family: sans-serif;
}

.go-down{
  padding-top: 10px;
}

.editions li:hover {
  background-color: lightgray;
  border-radius: 2px;
}

.editions li {
  margin: 10px 0px 10px 0px;
  padding: 2px 125px 2px 5px;
}

.help li {
  margin: 10px 0px 10px 6px;
  padding: 0px 125px 0px 0px;
}

// .dropdown-subtitle ul{
//   margin-top: 10px;
// }

.editions {
  border-bottom: 1px solid lightgray;
}

span {
  font-weight: bold;
}

.dropdown-subtitle:hover {
  cursor: default;
}

#help-click {
  color: blue
}

#help-click:hover {
  color: darkblue;
  text-decoration: underline;
}

// .dropdown-subtitle li a {
//   padding: 5px;
// }
